<ul class="horizontal-list">
  {% for item in include.collection %}

    <li class="card">
      <a href="{{ item.url }}">
        <img src="{{ item.flag }}" width="96">
        <span class="header">
          {{ item.title }}

          {% if item.highlight %}
            <mark>{{ item.highlight }}</mark>
          {% endif %}

        </span>

        {% if item.desc != false %}
        <p class="body">
          {{ item.desc }}
        </p>
        {% endif %}
      </a>
      <hr />
      <span>{{ x }} articles</span>
    </li>

  {% endfor %}
</ul>
