<form action="https://verificationserver.com" method="POST">

    <label>
      Article:
      <input type="text" id="at" name="article_title" />
    </label>
  
    <label>
      By Organization:
      <input type="text" id="og" name="organization" />
    </label>

    <label>
        URL
        <input type="url" id="url" name="url" />
    </label>
    <label>
        Affected Group
        <input type="text" id="ag" name="affected_group" />
    </label>
  
    <label>
        Perpetrator
        <input type="text" id="pr" name="perpetrator" />
    </label>
  
  
    <button type="submit">Send</button>
  </form>
  