<form id="formforserver" action="#" method="POST">
  <fieldset>
    <legend> Submit new article here </legend>
  <div>
      <label>
        Article:
        <input type="text" id="at" name="article_title" />
      </label>
    </div>
    <div>
      <label>
        By Organization:
        <input type="text" id="og" name="organization" />
      </label>
    </div>
    <div>
      <label>
          URL
          <input type="url" id="url" name="url" />
      </label>
    </div>
    <!-- <div>
      <label>
          Affected Group
          <input type="text" id="ag" name="affected_group" />
      </label>
    </div>
    <div>
      <label>
          Perpetrator
          <input type="text" id="pr" name="perpetrator" />
      </label>
    </div> -->
    <div>
      <!-- <a href="something" class="button6">Submit</a> -->
      <button type="button" value="Submit" onclick="formSubmit(event)">Submit</button>
      <!-- <button type="submit">Send</button> -->
    </div>
  </fieldset>

</form>
<div>
  <em>Your Content must not be false.</em>
</div>