{
    log default {
	    output stdout
	    format json
	    include http.log.access admin.api
    }
}
aifurevproxy.eastus.azurecontainer.io {
    @options {
        method OPTIONS
    }
    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Credentials false
        Access-Control-Allow-Methods *
        Access-Control-Allow-Headers *
        defer
    }
    reverse_proxy /records {
        to http://aifutestgroup.eastus.azurecontainer.io:8000
        header_down Access-Control-Allow-Origin *
        header Access-Control-Allow-Methods "GET, OPTIONS"
    }
    reverse_proxy /submit {
        to http://aifutestgroup.eastus.azurecontainer.io:8000
        header_down Access-Control-Allow-Origin *
        header Access-Control-Allow-Methods "POST, OPTIONS"
    }
    reverse_proxy /heartbeat {
        to http://aifutestgroup.eastus.azurecontainer.io:8000
        header_down Access-Control-Allow-Origin *
        header Access-Control-Allow-Methods "GET, OPTIONS"
    }
    respond @options 204
}